[MASTER]
# ignore-patterns=docs/**

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=missing-module-docstring,duplicate-code,line-too-long,invalid-name,not-callable

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,x,y

[DESIGN]
max-locals = 17

[TYPECHECK]

# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=torch.*
